*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:fantasy;
    color: white;
}

/* ------------------------------------page title-------------------------- */
.header{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-family:monospace;
    font-size: 2rem;
    color: black;
}
/* ------------------------------------notepad-------------------------- */
.notes_btn_icon{
    position: fixed;
    display: flex;
    height: 7vh;
    width: 7vh;
    background-color: rgb(110, 165, 212);
    border-radius: 50%;
    bottom: 5vw;
    left: 5vw;
    z-index: 2;
    cursor: pointer;
}

.notes_btn_icon img{
    padding: .5em;
}
.notes_invisible{
    display: none;
    
}

.notes_visible{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    /* background-image: url(/images/lined_paper_background.png); */
    background-color: white;
    background-size:cover;
    background-position: center;
    /* padding-top: 5em; */
    background-repeat: no-repeat;
    background-origin: content-box;
    z-index: 1;
}

#save,#clear{
    width: 5rem;
    height: 2rem;
    color: black;
    margin-left: 5vw;
}
#notepad .textareas{
    display: flex;
    justify-content: space-evenly;
    padding: 5vh;
    height: 100vh;
    
}

#notepad .textareas textarea{
    padding: 1em;
    outline: None;
    color: black;
    border: none;
    font-size: 1.25em;
    width: 80vw;
    height: 100%;
    height: 80%;
    resize: vertical;
    opacity: 0.5;
    line-height: 5.75vh;
    
}
#notepad,.textareas,.notes_visible{
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards; 
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;
        height: 0vh;
        width: 0vw;
        border-radius: 50% 50% 50% 0;
        } 
      to {opacity: 1;
        height: 90vh;
        width: 100vw;
        border-radius: 0;
        }
}

@keyframes fadeIn {
    from {opacity: 0;
        height: 0vh;
        width: 0vw;
        border-radius: 25% 25% 25% 0;
        } 
      to {opacity: 1;
        height: 90vh;
        width: 100vw;
        border-radius: 0;
        }
}

/* -------------------------------main - overall ------------------------------------ */
.main{
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    
}
.main .row{
    display: flex;
}
.section {
    height:45vh;
    background-color: rgb(161, 103, 214);
    margin: 1em;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.section h1{
    align-self: center;
    font-size: 2rem;
}

/* -------------------------------main - today------------------------------------ */
.today{
    width: 30vw;
}
.today .turns{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.today .turns .task{
    font-size: 1.2em;
}
.today .current_day{
    align-self: self-start;
    font-size: 1em;
}

/* -------------------------------main - schedule ------------------------------------ */
.schedule {
    width: 100%;
}
.schedule h1{
    padding-bottom: 2vh;
}
.schedule table{
    width: 90%;
    height: 100%;
}

.schedule table tr td{
    text-align: center;
}

.schedule table tr,td{
    padding:.5vh;   
}

.schedule table tr td:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(69, 63, 63);
    cursor:default;
}


.me{
    /* hilight my name in the schedule */
    background-color: rgb(198, 95, 95);
    color: rgb(0, 0, 0);
}

/* -------------------------------main - important dates------------------------------------ */
.important_dates{
    height:35vh;
    width: 100%;
}

@media only screen and (max-width: 1000px),(max-height: 750px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .section{
        width: 100vw;
        padding: 1em;
    }

    .schedule{
        height: min-content;
    }
    .main .row{
        flex-direction: column;
    }
  }
